.css-wjozrp-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #DCCA87;
}

.MuiBox-root .css-1ej5m6u{
    background-color: black;
    height: 100%;
}

.link-button{
    color: black;
    font-weight: 800;
    text-decoration: none;
}

.link-button:hover{
    color: rgb(59, 59, 59);
}